div.settings-notice-message {
  margin-top: 5px;
  margin-left: 10px;  
}

h2.settings-header {
  font-size: 18px;
  margin-left: -10px;
  font-weight: 900;
  margin-top: 60px;
}

div.settings-section-description {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  margin-left: -10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: -5px;
}

body.theme-light div.settings-section-description {
  background-color: #f6f6f6;
  color: #111;
}

body.theme-dark div.settings-section-description {
  background-color: #000000;
  color: #eee;
}

div.settings-section-description > span:first-of-type {
  margin-right: 8px;
}

div.settings-preview {
  border-width: 3px;
  border-radius: 8px;
  border-style: solid;
  transition-duration: 800ms;
  display: flex;
  border-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 30%);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  transition-duration: 600ms;
}

div.settings-preview:hover {
  border-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 60%);
}

div.settings-preview h3 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: auto;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 75%);
  letter-spacing: 1px;
  transition-duration: 800ms;
}

div.settings-preview:hover h3 {
  color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 85%);
}

body.theme-dark div.settings-preview h3 {
  background-color: #111;
}

body.theme-light div.settings-preview h3 {
  background-color: #ededed;
}

div.settings-preview main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 16px;
}

div.settings-archive-file-path-preview main div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.settings-archive-file-path-preview span.dynamic {
  font-weight: 900;
  font-size: 16px;
  display: inline-block;
  margin-top: 12px;
}

div.settings-notice-preview main {
  flex-direction: column;
}

div.settings-notice-preview main div.notice {
  margin-top: 12px;
  margin-bottom: 0;
}